<div class="container">
  <h3>Add a new list</h3>
  <%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
  <%= f.submit "Submit list", class: "btn" %>
  <% end %>

</div>
